{% extends 'quotes/base.html' %}

{% block title %}Quotes{% endblock %}

{% block content %}
<h1>Quotes</h1>
{% csrf_token %}
{% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <h1>{{ quote }}</h1>
            <span>by <small class="author" itemprop="author">{{quote.author}}</small>
            <a href="{% url 'quotes:author_detail' quote.author.id %}">(about)</a>
            </span>
        </div>
        {% endfor %}
{% if user.is_authenticated %}
    <a href="{% url 'quotes:add_author' %}">Add Author</a>
    <a href="{% url 'quotes:add_quote' %}">Add Quote</a>
    <a href="{% url 'users:logout' %}">Logout</a>
{% else %}
    <a href="{% url 'users:login' %}">Login</a>
    <a href="{% url 'users:signup' %}">Signup</a>
{% endif %}
{% endblock %}
